<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

    <div id="app" class="container">
        <!-- Contenitore input text per inserire nuova task -->
        <div id="input">
            <input type="text" v-model="testo" placeholder="Scrivi una nuova cosa da fare" @keyup.enter="addTask">
            <button @click="addTask">Aggiungi</button>
        </div>

        <div id="todolist">
            <ul>
                <!-- Nuove task generate con v-for -->
                <li v-for="(item, i) in items">
                    <span @click="toggleDone(i)"
                    :class="item.done === true ? 'line-through' : ''">{{item.text}}</span>
                    <i class="fa-solid fa-xmark" @click="deleteTask(i)"></i>
                </li>
            </ul>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>